# ADF Test Report

## Original Series
- **ADF Statistic**: -1.9938560113924666
- **p-value**: 0.2892735048934033
### Critical Values:
- 1%: -3.4311
- 5%: -2.8619
- 10%: -2.5669
- **Stationary?**: No

---

## 1st Difference
- **ADF Statistic**: -15.529367580048003
- **p-value**: 2.23074051051641e-28
### Critical Values:
- 1%: -3.4311
- 5%: -2.8619
- 10%: -2.5669
- **Stationary?**: Yes

---
